body{
  margin:auto;
    background-image: url(index.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

h1{
  text-align: center;
  background-color: #5adaff;
  height: fit-content;
  width: fit-content;
}

.header{
  margin: auto;
  overflow: auto;
}
#header{
  overflow: auto;
  width:100%;
 height:150px;
}

.navbar{
  margin: auto;
  overflow: auto;
    font-size: 30px;
    font-weight: bold;
    background-image: url(header.png);
    height: fit-content;
    width: 100%;
}

.navbar ul{
  text-align: center;
}

.navbar li{
  margin: auto;
  display: inline-block;
}

ul{
  font-family: 'poppins' , sans-serif;
  display: flex;
}
ul li{
    
  list-style: none;
  padding: 5px;
}
ul li a {
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding: 5px;
  transition: 0.5s ease;
}
ul:hover li a {
  color: rgb(0, 0, 0);
}
ul:hover li a:not(:hover) {
  color: rgb(255, 255, 255);
  opacity: 0.3;
  filter: blur(1px);
}

#column{
 
  width:fit-content;
  height: fit-content;
  display:flex;
  flex-wrap: row;
  align-content: center;
}
.content1{
  
    width: fit-content;
    height:100%;
    margin: auto;
    
}

.content2{
  overflow: auto;
  width:650px;
  height:550px;
  margin: auto;
  
}

.content3{
  background-color: #fff;
  width:fit-content;
  height:500px;
  margin: auto;
}




/* slideshow code */ 
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.text{
  background-color: #ffff;
  width: fit-content;
  color: #000;
}


/*
button{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width: 50px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
*/
.container2{
  
  
}

.content3{
  
  
}

.container-time{
  background-color: black;
  padding: 50px;
  outline: 3px dashed rgba(234, 238, 2, 0.973);
  outline-offset: -30px;
  text-align: center;
}


h2{
  color:#fff;
}

li{
  size: 40px;
  color:#fff;
}